.container {
  width: 850px;
  border: 1px solid black;
  margin: auto;
  height: 705px;
  
}

header {
  display: inline-block;
  text-align: center;
  margin: auto;
  border-bottom: 2px solid black;
  width: inherit;
}

.theCatch {
  height: 153px;
  width: 850px;
  position: relative;
}

.title {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  margin-top: -100px;
}

.headline {
  float: left;
  font-size: 2.5em;
  margin-top: 66px;
}

h3 {
  clear: both;
  margin-left: -40px;
  height: 30px;
}

.sidebar {
  height: 450px;
  float: left;
  width: 180px;
  border: 1px solid black;
  text-align: center;
}

span {
  font-size: 2em;
  text-decoration: underline;
}

.bbReference {
  height: 31px;
  padding-top: 10px;
}

.cardsWebsite {
  height: 95px;
}

.espn {
  height: 85px;
}

.sabr {
  height: 73px;
}

.hallOfFame {
  height: 100px;
}

.playerContainer {
  height: 450px;
  overflow: scroll;
  text-align: center;
  border-bottom: 1px solid black;
}


.playerPhoto {
  height: 175px;
  position: relative;
}


a:hover {
  color: red;
}



table {
  border: 1px solid black;
  margin: auto;
}

th{
  border: 1px solid black;
}

td {
  border: 1px solid black;
  text-align: center;
}
footer {
  clear: both;
  text-align: center;
  letter-spacing: 2em;
}

.icon {
  height: 47px;
}